{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form action="/buscar" method="post">
            <h1 class="h1">Pokedex</h1>
            <input class="form-control" type="text" name="nome" placeholder="Digite o pokemon">
            <button class="btn btn-primary" type="submit" value="submit">Buscar</button>
            <h1 class="h1">{{nome}}</h1>
            <img src="{{foto}}" width="200px">
            <h5 class="h5">{{abilities}}</h5>
        </form>
    </div>
{% endblock %}